/* 
padding - внутренний отступ блочных тегов

Если укзано 4 значения то:
1 - Отступ от верхнего края
2 - Отступ от правого края
3 - Отступ от нижнего края
4 - Отступ от левого края 

Если укзано 3 значения то:
1 - Отступ от верхнего края
2 - Отступ от правого края и левого края 
3 - Отступ от нижнего края
 
Если укзано 2 значения то:
1 - Отступ от верхнего края и нижнего края
2 - Отступ от правого края и левого края 
 
Если укзано 1 значения то:
1 - Отступ от всех краев
 
% - Соотношение вычисляется от родителя
*/

/* border - Граница */

.example-block {
    padding: 10%;
    border: 1px solid #999
}

/* p20 */
.example-string {   
    margin: 10px;
}


/* margin - Определяет отступ блочных тегов */

.example-margin {
    margin: 10%;
    border: 1px solid #999
}

/* Зафиксированный размер */
.example-image {
    width: 100px;
}

/* Минимальная ширина */
.example-min-image {
    min-width: 30%;
}

