body {
  background-color: #456;
  font-size: 20px;
  font-weight: 500;
  transition: all 1.8s ease 0s;
}
.wrapper {  
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  padding: 150px;
  color: #fff;
  h1{
    font-size: 30px;
    font-weight: 400;
  } 
}

.content {    
 
}


.grid {
  margin-top: 50px;
  max-width: 1200px;

  &__body {
    display: grid;  
    grid-template-columns: 300px minmax(200px, 600px) 300px; // 3 колонки 
    grid-template-rows: 1fr  1fr; // 2 строки
    @media(min-width:1530px){
      background-color: #148;
    }

    @media(max-width:1110px){
      background-color: #148;
    }

  }

  &__item {
    text-align: center; 
    border: 2px dashed #aaa;
    padding: 30px;
  }
}