//-------------------------------------------- ЧАСТЬ 3 ---------------------------------------------

 

.content__3D .content__wrapper3d{
  background-color: rgba(255, 112, 112, 0.178);
  width: 150px;
  height: 150px;
  perspective-origin: center;
  perspective: 400px;
}

.block {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  transition: all 2.8s ease 0s;
  width: 150px;
  height: 150px;

  perspective-origin:center;
  perspective: 0px;
}

.content__perspective {
  background-color: #1a7; 
  &:hover {
    transform: rotateX(80deg) ;
  }
}























//-------------------------------------------- ЧАСТЬ 2 ---------------------------------------------

 

.view-block{
  text-transform: uppercase;
  color: #fff;
  line-height: 100px;
  width: 100px;
  text-align: center;
  box-shadow:0 0 1px #aaa;
  transition: all 2.8s ease 0s;
}

.block__translate {
 
  transform: translate(-50%, 0px); // сдвиг относительно центра + left 50%
  position: relative;
  left: 50%;
  background-color: #930;
  &:hover {
    transform: translate(-80%, 10px);
  }
}

.block__scale {
  background-color: #618;
  transform: scale(1);
  &:hover {
    transform: scale(1.5); // увеличить в 1.5 раз (x y или просто x)
  }
  &:active {
    transform: scale(-1, 1); // при нажатии отобразить зеркально по x
  }
}

.block__rotate {
  position: relative;
  left: 70%;
  background-color: #60f;
  transform: rotate(0);
  &:hover {
    transform: rotate(360deg);
  }
}

.block__skew {
  position: relative;
  left: 30%;
  background-color: #80f;
  transform: skew(5deg, 5deg);
  &:hover {
    transform: skew(-5deg, -5deg)
  }
}

.block__matrix {
  line-height: 24px;
  position: relative;
  left: 0%;
  background-color: #7a4;
  transform: matrix(
    1,  /*Масштабирование X SCALE */
    0,  /*Деформация Y SKEW*/
    0,  /*Деформация X SKEW*/
    1,  /*Масштабирование Y SCALE */
    0,  /*Смещение X TRANSLATE*/
    0   /*Смещение Y TRANSLATE*/
  );

  &:hover {
    transform: matrix(1.2, 0.8, 0.8, 1.2, 10, 10);
  }
}

.block__multi {
  position: relative;
  left: 60%;
  line-height: 24px;
  background-color: #80f;

  &:hover {
    transform: translate(50px, 50px) scale(0.5) rotate(360deg);
  }
}

.block__transform-origin {
  position: relative;
  left: 10%;
  line-height: 24px;
  background-color: #08f;
  line-height: 50px;
  transform-origin: 0 0; // top left или 0 0 
  transform: rotate(0deg);
  &:hover {
    transform: rotate(130deg);
  }
}









//-------------------------------------------- ЧАСТЬ 1 ---------------------------------------------

body {
  background-color: #eee;
}


.path {
  font-size: 25px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px;
}

button {
  min-width: 200px;
  text-decoration: none;
  display: inline-block;
  line-height: 60px;
  padding: 0px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 10px;
  top: 0;
  position: relative;
  border: none;
  margin: 20px;
  color: #555;
}


.wrapper {
  height: 100%;
  display: flex;
  padding: 50px;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.button__row {
  display: flex;
  flex-direction: row;
}


//------------------------D U R A T I O N---------------------------------
.button_duration {
  color: #fff;
  background-color: #dad;
  box-shadow: 0px 5px 0px #daa;
  transition-duration: 500ms;
}

.button_duration:hover {
  top: 2px;
  box-shadow: 0px 3px 0px #ada;
  background-color: #aad;
}
//------------------------P R O P E R T Y---------------------------------
.button_property {
  color: #fff;
  background-color: #dad;
  box-shadow: 0px 5px 0px #daa;
  transition-duration: 3500ms, 150ms;
  transition-property:  background-color, top;
}

.button_property:hover {
  top: 2px;
  box-shadow: 0px 3px 0px #ada;
  background-color: #aad;
}
//------------------------D E L A Y---------------------------------------
.button_delay {
  color: #fff;
  background-color: #dad;
  box-shadow: 0px 5px 0px #daa;
  transition-duration: 3500ms, 150ms;
  transition-property:  background-color, top, box-shadow;
  transition-delay: 0s, 0.2s, 0.2s;
}

.button_delay:hover {
  top: 2px;
  box-shadow: 0px 3px 0px #ada;
  background-color: #aad;
}
//------------------------transition-timing-function----------------------

.ease {
  button {
    transition-duration: 2s;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    margin: 10px 5px;
    &:hover{
      width: 100%;
    }
  }

    .button-transition {
    &_1 {
      background-color: #ada;
      transition-timing-function: ease;
    }
    &_2 {
      background-color: #aed;
      transition-timing-function:ease-in;
    }
    &_3 {
      background-color: #add;
      transition-timing-function:ease-out;
    }
    &_4 {
      background-color: #aad;
      transition-timing-function:ease-in-out;
    }
    &_5 {
      background-color: #dad;
      transition-timing-function:linear;
    }
    &_6 {
      background-color: #daa;
      transition-timing-function:steps(50, end);
    }
    &_7 {
      background-color: #dda;
      transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55); //x1,y1,x2,y2
    }
  }
}

//---------------------------keyframes------------------------------------

.animation {
  height: 150px;
  background-color: #afa;
  line-height: 10px;
  .super__circle {
    
    width: 100px;
    height: 100px;
    background-color: #aad;
    border-radius: 50%;
    position: relative;
    left: 0;
    margin: 20px 0;
    animation: circle 11s ease infinite forwards alternate 2s;
  }
  .super__circle:hover {
    
    animation-play-state: paused;
  }

  @keyframes circle {
    0% {
      left: 0;
      background-color: #aad;
    }
    50% {      
      background-color: #fff;
      border-radius: 0px;
      height: 50px;
      width: 50px;
    }
    100% {
      left:  620px;
      background-color: #dad;
    }
  }
}