//-------------------------------------------- ЧАСТЬ 2 ---------------------------------------------

.block{
  text-transform: uppercase;
  color: #fff;
  line-height: 200px;
  width: 200px;
  text-align: center;
}

.block__translate {

  transform: translate(-50%, 0px);
  position: relative;
  left: 50%;
  background-color: #930;
  &:hover {
    transform: translate(-80%, 10px);
    left: 50%;
  }
}
















//-------------------------------------------- ЧАСТЬ 1 ---------------------------------------------

body {
  background-color: #777;
}


.path {
  font-size: 25px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px;
}

button {
  min-width: 200px;
  text-decoration: none;
  display: inline-block;
  line-height: 60px;
  padding: 0px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 10px;
  top: 0;
  position: relative;
  border: none;
  margin: 20px;
  color: #555;
}


.wrapper {
  height: 100%;
  display: flex;
  padding: 50px;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.button__row {
  display: flex;
  flex-direction: row;
}


//------------------------D U R A T I O N---------------------------------
.button_duration {
  color: #fff;
  background-color: #dad;
  box-shadow: 0px 5px 0px #daa;
  transition-duration: 500ms;
}

.button_duration:hover {
  top: 2px;
  box-shadow: 0px 3px 0px #ada;
  background-color: #aad;
}
//------------------------P R O P E R T Y---------------------------------
.button_property {
  color: #fff;
  background-color: #dad;
  box-shadow: 0px 5px 0px #daa;
  transition-duration: 3500ms, 150ms;
  transition-property:  background-color, top;
}

.button_property:hover {
  top: 2px;
  box-shadow: 0px 3px 0px #ada;
  background-color: #aad;
}
//------------------------D E L A Y---------------------------------------
.button_delay {
  color: #fff;
  background-color: #dad;
  box-shadow: 0px 5px 0px #daa;
  transition-duration: 3500ms, 150ms;
  transition-property:  background-color, top, box-shadow;
  transition-delay: 0s, 0.2s, 0.2s;
}

.button_delay:hover {
  top: 2px;
  box-shadow: 0px 3px 0px #ada;
  background-color: #aad;
}
//------------------------transition-timing-function----------------------

.ease {
  button {
    transition-duration: 2s;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    margin: 10px 5px;
    &:hover{
      width: 100%;
    }
  }

    .button-transition {
    &_1 {
      background-color: #ada;
      transition-timing-function: ease;
    }
    &_2 {
      background-color: #aed;
      transition-timing-function:ease-in;
    }
    &_3 {
      background-color: #add;
      transition-timing-function:ease-out;
    }
    &_4 {
      background-color: #aad;
      transition-timing-function:ease-in-out;
    }
    &_5 {
      background-color: #dad;
      transition-timing-function:linear;
    }
    &_6 {
      background-color: #daa;
      transition-timing-function:steps(50, end);
    }
    &_7 {
      background-color: #dda;
      transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55); //x1,y1,x2,y2
    }
  }
}

//---------------------------keyframes------------------------------------

.animation {
  height: 150px;
  background-color: #afa;
  line-height: 10px;
  .super__circle {
    
    width: 100px;
    height: 100px;
    background-color: #aad;
    border-radius: 50%;
    position: relative;
    left: 0;
    margin: 20px 0;
    animation: circle 11s ease infinite forwards alternate 2s;
  }
  .super__circle:hover {
    
    animation-play-state: paused;
  }

  @keyframes circle {
    0% {
      left: 0;
      background-color: #aad;
    }
    50% {      
      background-color: #fff;
      border-radius: 0px;
      height: 50px;
      width: 50px;
    }
    100% {
      left:  620px;
      background-color: #dad;
    }
  }
}