.wraper {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 50px;
}
.block {
  &__row {
    display: flex;
    border:20px solid #feddef;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-height: 900px;
    height: 600px;
    min-height: 800px;
  }
  &__column {
    border:20px solid #deffed;
   
    &_1{
      order: 3;
    }
    
    &_2{
      order: 2;
    }
  
    &_3{
      order: 1;
    }
  }
  
  &__item {
    background-color: skyblue;
    padding: 20px 50px; 
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    text-align: center;
  }

  &__list {  
    align-items: center;
    li{margin-bottom: 15px;
      &:last-child{margin: 0 0 0 0;}
    }
  }
  &__info {
  }
  &__info_y {
  }
  &__info_p {
  }
  &__info_g {
  }
}