.wrapper {
  min-height: 100vh; // Оболочка на всю высоту экрана
  display: grid;
  /* 
  Выстраиваем сетку РЯДЫ (в нашем случае 1й ряд это шапка - минимум 100рх и максиальное auto) 
  далее идет тэг <main> - ему устанавливаем 1fr чтобы он занимал оставшееся пространство, таким 
  образом мы будем прибивать  к низу <footer> minmax(70px, auto), даже если контента будет мало
  / -этот символ говорит что дальше идет обращение к КОЛОНКАМ. Колонка 1 - поэтому будет 1fr.
  */
  grid-template-rows: 
  	minmax(100px, auto) // <header>
  	1fr 				// <main>
  	minmax(70px, auto);	// <footer>
  grid-template-columns: 1fr;
  // Далее применим названия к GRID-элементам, чтобы было ясно что происходит
  grid-template-areas: 
	"header"
	"main"
	"footer "
  ;
  background-color: #ccc;
}
//-------------------------------------------------------------------------------header
.header {
	grid-area: header;
	background-color: #afd;
	padding: 15px;
	display: grid;
	align-items: center;
	grid-template: 
								// Высота строки
		1fr
		/  						// Ширина колонки
		1fr 
		minmax(auto, 300px) 	// ширина min - auto max - 300px
		minmax(auto, 1100px) 	// Ячейка меню
		1fr 					// Автозаполнение
	; 
		&__logo {
			width: 70px;
			height: 70px;
			border-radius : 50%;
			background-color: #fff;
			grid-column: 2/3;
		}

		&__menu {
			grid-column: 3/4;
		}

		&__list {
			display: grid;
			grid-auto-flow: column; // Таким образом шапка меню бара будет выстроена в линию
			justify-items: end;		// элементы выстроются по левому краю
		}		
		&__list li{
			margin: 0px 0px 0px 30px; // Чтобы точки (*) не попадали на соседнюю область
		}
 
		&__link {
			font-weight: 600;
			color: #585;
			font-size: 18px;
		}

		&__burger {
		}
}
//-------------------------------------------------------------------------------main
.main {
	padding: 30px 15px;
	// Подход Mobile FIRST преносим в media (Чтобы не запутать тебя, я специально вынесу этот код в нижний блок :)  )
	/*
	grid-area:main;

	display: grid;

	grid-template: 
								// Высота строки
		1fr
		/  						// Ширина колонки
		1fr 
		minmax(auto, 300px) 	// ширина min - auto max - 300px
		minmax(auto, 1100px) 	// Ячейка меню
		1fr 					// Автозаполнение
	; */
}
.sidebar {
	// grid-column: 2/3; <-- Строку переносим в @media для Mobile FIRST 
	background-color: #aff;
	padding: 30px 15px; 
	margin: 0px 0px 30px 0px;
		&__menu {
		}

		&__list {
		}
		&__list li{
			margin: 0px 0px 15px 0px;
		}

		&__link {
			color: #585;
		}
}
.content {
	// grid-column: 3/4;    			<-- Переносим в @media чтобы регулировать отступ
	// padding: 0px 0px 0px 30px;		<--
		&__title {
		}

		&__gallary {
			margin: 0px 0px 30px 0px
		}

		&__products {
		}
}
.gallary {

		&__item {
			position: relative;	// пропорциональное уменьшение картинки из-за измнения ширины
			padding: 0px 0px 85% 0px;
		}

		&__item img {			// адаптирование картинок
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		
		&__item_big {
				// grid-column: span 2; // Сколько ячеек отдается этому объекту 	<-- Отправляем эти строки в @media 767px
				// grid-row: span 2;												<--
			
		}

		&__title {
		}

		&__items {
			display: grid;
			gap: 10px;			// Отступ между GRID-элементами
			
			// построение сетки для галлереи чтобы при уменьшении ширины автоматически перестраивались на ряд ниже
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) ;
		}


	}

 

.products {

		&__title {
		}

		&__image {
			position: relative;	// пропорциональное уменьшение картинки из-за измнения ширины
			padding: 0px 0px 90% 0px;
			margin: 0px 0px 20px 0px;
		}
		&__image img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__items {
			display: grid;
			column-gap: 30px;
			row-gap: 50px;
 			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
		}

		&__item {
			display: grid;
			grid-auto-flow: row;
			grid-template: auto 1fr minmax(40px, auto) / 1fr;
		}	
 
		&__name {
			font-size: 20px;
			color: #fff;
			line-height: 30 px;
			margin-bottom: 20px;
			text-decoration: none;
		}

		&__button {
			color: white;
			background-color: #d9d;
			justify-self: start;
			line-height: 40px;
			text-decoration: none;
			border-radius: 10px;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-weight: 600;
			padding: 0 20px;
		}
}
//-------------------------------------------------------------------------------footer
.footer {
	display: grid;
	grid-area:footer;
	background-color: #afd;
	padding: 15px;
	grid-template: 1fr 	// строка растянута по высоте
	/ 
	1fr 					// ширина 1й колонки растягивается аватоматически
	minmax(auto, 300px) 	// ширина 2й min - auto, max - 300px	- footer__copy
	minmax(auto, 1100px) 	// ширина 3й min - auto, max - 1100px	- footer__text
	1fr						// ширина 4й колонки растягивается аватоматически
	;
	align-items: center; 	// выставить все содержимое по центру

	// Изменим этот вид на ширине меньше при 550px (Перенесем этот код в @media)
	/*
	&__copy {
		grid-column: 2/3;
	}

	&__text {
		text-align: right; // разместить текст справа внутри ячейки
		grid-column: 3/4;	
	} 
	*/
}


// ---------------------------------------------------------------------- Mobile FIRST

@media (min-width: 992px) {
	// Вот сюда, со строки 72
	.main {
		grid-area:main;

		display: grid;
	
		grid-template: 
									// Высота строки
			1fr
			/  						// Ширина колонки
			1fr 
			minmax(auto, 300px) 	// ширина min - auto max - 300px
			minmax(auto, 1100px) 	// Ячейка меню
			1fr 					// Автозаполнение
		; 
	}
	.sidebar {
		grid-column: 2/3;
		margin: 0px 0px 0px 0px;
	}
	.content {
		grid-column: 3/4;
		padding: 0px 0px 0px 30px;
	}
}


@media (min-width: 767px) { 
	.gallary {			
		&__item_big { // пояснение, поскольку на маленьком экране выступает справа, то убираем  этот эффект 
			grid-column: span 2; // Сколько ячеек отдается этому объекту 	 
			grid-row: span 2;
		}
	}
}

// Изменяем FOOTER
// Если больше 550px то оставить по сторонам
@media (min-width: 550px) {
	.footer {
		&__copy {
			grid-column: 2/3;
		}
	
		&__text {
			text-align: right; // разместить текст справа внутри ячейки
			grid-column: 3/4;	
		} 
	}
}
// Если меньше 550px то оставить по сторонам
@media (max-width: 550px) {
	.footer {
		grid-template: 1fr 1fr / 1fr ; // 2 строки и 1 колонка
		text-align: center;
		&__copy {
			order: 2;
		}
		&__text {
			order: 1;
		}
	}

}


// Убираем меню в бургер на всех экранах меньше 992px 

@media (max-width: 992px) {
	// Три белые полоски
	.header {
		&__list {
			display: none;
		}
		&__burger {
			width: 30px;
			display: grid;
			align-items: center;
			grid-template: repeat(3, 8px) / 1fr;
		}
		&__burger::before {
			content: "";
			height: 2px;
			width: 30px;
			background-color: #fff;
		}
		&__burger::after {
			content: "";
			height: 2px;
			width: 30px;
			background-color: #fff;
		}
		&__burger span {
			content: "";
			height: 2px;
			width: 30px;
			background-color: #fff;
		}
		// Размещаем объект
		&__menu {
			display: grid;
			justify-items: end;
		}
	}

}