body {
 transition: all 1.8s ease 0s;
}
.wrapper {  
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  padding: 150px;
 

}

.content {    
 
}

.header__logo {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  overflow: hidden;
}
