.wraper {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 50px;
}
.block {
  &__row {
    display: flex;
    align-items: center;
    border:20px solid #feddef;
    margin-bottom: 20px;
  }
  &__column {
    border:20px solid #deffed;
    flex-basis: auto;
    flex-grow: 1;
    width: 200px;
    flex-shrink: 1;
    
    &_1{
      order: 3;
    }
    
    &_2{
      order: 2;
    }
  
    &_3{
      order: 1;
    }
  }
  
  &__item {
    background-color: skyblue;
    padding: 30px; 
    font-size: 50px;
    color: #fff;
    font-weight: 700;
  }

  &__list {  
    align-items: center;
    li{margin-bottom: 15px;
      &:last-child{margin: 0 0 0 0;}
    }
  }
  &__info {
  }
  &__info_y {
  }
  &__info_p {
  }
  &__info_g {
  }
}