@import "./StyleNull.scss";
body {
  background-color: #eee;padding: 40px;
}
.container {
  border: 2px solid red;
  margin-bottom: 20px;
  width: 1170px;
  
} 
.wraper {
  display: flex;
  overflow: hidden;
  min-height: 100%;
  flex-direction: column; 
}
.content {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}
.header {
   background-color: #888;
   
   &__row {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     margin: 10px -8px;
		}

		&__logo {
      margin-left: 30px;
      width: 65px;
      height: 65px;
      background-color: #888;
     
      border-radius: 50%;
    }

		&__menu {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      
		}
}
.menu {
  
  display: flex;
  flex: 0 0 auto;
  font-size: 20px;
  margin: 0px 22px; 
   
  color: #888;
		&__body {    
    } 
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0px 10px;
    }
		&__list li {
      background-color: #fff;
      border-radius: 5px;
      width: 61px;
      height: 20px;
      text-align: center;
      margin: 0px 5px; 
      border: 1px solid #333;
		}
		&__link {
      color: #999;
      font-size: 18px;
		}
}

.block {
  background-color: #aaa;
  
  
  &__row {
    display: flex;
    flex-direction: row;  
  }
  &__title {
    background-color: #fff;
    height: 200px;
    border: 2px solid red;
    margin: 20px;
  }
  &__item {
    background-color: #444;
    color: red;
  }
  &__text {
    border: 2px solid green;
  }
}

