@import "./StyleNull.scss";
html, body {
  height: 100%;
}

body {
  background-color: #eee;
  padding: 40px;
  min-width: 1170px;
}
.container {
  border: 2px solid red;
  margin-bottom: 20px;
} 
.wraper {
  display: flex;
  overflow: hidden;
  min-height: 100%;
  flex-direction: column; 
}
.content {
  width: 1170px;
  width: 100%;
  margin: 0px auto;
}
.header {
   background-color: #888;
   
   &__row {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     margin: 10px -8px;
		}

		&__logo {
      margin-left: 30px;
      width: 65px;
      height: 65px;
      background-color: #888;
     
      border-radius: 50%;
    }

		&__menu {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      
		}
}
.menu {
  
  display: flex;
  flex: 0 0 auto;
  font-size: 20px;
  margin: 0px 22px; 
   
  color: #888;
		&__body {    
    } 
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0px 10px;
    }
		&__list li {
      background-color: #fff;
      border-radius: 5px;
      width: 61px;
      height: 20px;
      text-align: center;
      margin: 0px 5px; 
      border: 1px solid #333;
		}
		&__link {
      color: #999;
      font-size: 18px;
		}
}
.title{
  background-color: skyblue;
}
.block {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 30px;
  &__title {
    padding-bottom: 20px ;
  }
 
  &__body {
    max-width: 990px;
    margin: 0px auto;
  }
  &__row {
    display: flex;
    margin: 0px -22.5px;
  }
  &__column {
    flex: 0 1 33.333%;
    padding: 0px 22.5px;
    display: flex;
  }
  &__item {    
    min-width: auto;
    background-color: #deffed;
    border-radius: 5px;
    border: 1px solid #deffed;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 24px;
    text-transform: uppercase;
    padding: 12px 0;
    color: #ebf4ff;
  }
  &__label {
    text-align: center;
    background-color: white;
    color: #445162;
    padding: 15px 0;
    font-size: 20px;
  }
  &__text {
    color: #445162;
    padding: 20px;
    flex: 1 1 auto;
  }
  &__btn {
    display: block;
    height: 40px;
    margin: 20px;
    background-color: #fff;
    padding-bottom: 20px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    color: #445162;
  }
}

